/*
Colour Pallete from Coolors.co

Alabaster - #E0E2DB
Timberwolf - #D2D4C8
Ash Gray - #B8BDB5
Spanish Gray - #889696
Xanadu - #5F7470
*/

/* Global Styles
----------------------------------------------------*/
body {
  color: #5F7478;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;   
}

img {
    width: 300px; 
}

a {
    color: #D2D4C8;
}

a:hover {
    text-decoration: none;
}

h2 {
    margin: 0;
}

h1, h2 {
    font-family: 'Caveat', cursive;
}

.content-wrap {
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile
----------------------------------------------------*/

header {
    background: #D2D4C8;
    color: #889696;
}

/* Projects
----------------------------------------------------*/

.projects {
    background: #E0E2DB;
}

.projects a {
    color: #889696;
} 

.projects .btn {
    color: #aeafaa;
    background: #5F7470;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(95, 116, 112, 80%);
    color: #aeafaa;
}

/* Work Experience
----------------------------------------------------*/

.work-experience {
    background: #B8BDB5;
}

/* Education
----------------------------------------------------*/

/* Contact Info
----------------------------------------------------*/

footer {
    background: #889696;
    color: #E0E2DB;
}