/*
Colour Pallete from Coolors.co

Alabaster - #E0E2DB
Timberwolf - #D2D4C8
Ash Gray - #B8BDB5
Spanish Gray - #889696
Xanadu - #5F7470
*/

/* Global Styles
----------------------------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  color: #5F7478;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;   
}

img {
    width: 300px; 
}

a {
    color: #D2D4C8;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

.divider > section {
    border-bottom: 1px dashed #889696;
    padding: 25px 0;
}

.divider > section:last-of-type {
    border-style: none;
}

/* Profile
----------------------------------------------------*/

header {
    background: #D2D4C8;
    color: #889696;
    text-align: center;
}

/* Projects
----------------------------------------------------*/

.projects {
    background: #E0E2DB;
}

.projects a {
    color: #889696;
} 

.projects .btn {
    color: #aeafaa;
    background: #5F7470;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(95, 116, 112, 80%);
    color: #aeafaa;
}

.project-item {
    overflow: hidden;

}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}

/* Work Experience
----------------------------------------------------*/

.work-experience {
    background: #B8BDB5;
}

.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

/* Education
----------------------------------------------------*/

/* Contact Info
----------------------------------------------------*/

footer {
    background: #889696;
    color: #E0E2DB;
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}